// colors

$color-white: #FFFFFF;
$color-black: #000000;
$color-green: #56C6AD;
$color-light-green: #77D8C2;

$input-background-color: #F4F5F6;
$input-text-color: #4A5653;
$input-search-text-color: #AEB7B5;
$input-border-color: #E6E9ED;

$toggle-background-color: #E0F3EF;
$label-color: #252F2C;
$option-background-color: #F6F7FB;
$input-search-description: #838C8A;
$scrollbar-track-background-color: #DEF1ED;

